.git
.github
.DS_Store

**/.env
**/.env.*
**/.venv
**/__pycache__
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/*.py[cod]

**/node_modules
**/dist
**/.vite
**/.vite-temp

**/*.o
**/*.d
backend/push_swap/push_swap
backend/push_swap/checker_os
backend/push_swap/.!*checker_os
backend/a_maze_ing/tests
backend/a_maze_ing/.DS_Store
backend/pac_man/**/__pycache__
backend/pac_man/**/*.log
backend/trace_ops_agent/.venv
backend/trace_ops_agent/.env
backend/trace_ops_agent/frontend/.next
backend/trace_ops_agent/**/*.db
backend/trace_ops_agent/evals
backend/trace_ops_agent/doc
backend/trace_ops_agent/tests

**/*.log
tmp
temp
