.DS_Store
.env
.env.*
.venv
__pycache__
.pytest_cache
.mypy_cache
.ruff_cache
*.py[cod]

backend/push_swap/*.o
backend/push_swap/*.d
backend/push_swap/push_swap
backend/push_swap/checker_os
backend/push_swap/.!*checker_os
backend/push_swap/bench.txt
backend/push_swap/args.txt

*.log
